.wd-dashboard-grid .col {
    max-width: 270px;
    min-width: 270px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  .wd-card-dimensions {
    min-width: 600px;
    max-width: 1300px;
  }
  
  .wd-dashboard-content {
  
    padding-left: 25px;
  }
  